/* src/components/Header.css */
.header {
  background-color: #003366;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
}

.logo {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  margin-left: 20px;
  font-family: 'Georgia', serif;
}